<div class="card">
        <div class="body pt-10 " style="height: 100%;">
            
                <div class="text-center">
                    <article>
                        <h1>Access Denied!</h1>
                        <div>
                            <p>Sorry for the inconvenience<br>You are n’t allow to accesses , Please contact Administrator for further help!</p>
                            <p>— {{shortTitle}}</p>
                        </div>
                    </article>
                    <div class="margin-top-30">
                        <!-- <a href="javascript:history.go(-1)" class="btn btn-default "><i class="fa fa-arrow-left"></i><span>Go Back</span></a> -->
                        <button (click)="goHome()" class="btn btn-info ml-2"><i class="fa fa-home"></i><span>Home</span></button>
                    </div>
            </div>
    </div>
</div>