<div class="block-header">
    <div class="row clearfix">
        <div class="col-md-6 col-sm-12">
            <h1>Manage Dedication</h1>
        </div>
        <div class="col-md-6 col-sm-12 text-right hidden-xs">
            <a *ngIf="showAddBtn; else btnBack" [routerLink]="[urlService.STAFF.DEDICATION_ADD.URL]"
                class="btn btn-sm btn-primary" title="Dedication Add"><i class="pi pi-plus"></i>
                New Dedication</a>
            <ng-template #btnBack>
                <a href="javascript:void(0)" (click)="close()" class="btn btn-sm btn-primary" title="Back"><i
                        class="pi pi-arrow-left"></i> Back</a>
            </ng-template>
        </div>
    </div>
</div>

<ul class="nav nav-tabs1 table-nav">
    <ng-container *ngFor="let s of segement | keyvalue:returnZero">
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'show active': currentSegment==s.value}" (click)="changeSegment(s.value)"
                href="javascript:void(0)">{{s.value |
                titlecase}}</a>
        </li>
    </ng-container>
</ul>
<div class="tab-content mt-0">
    <div class="tab-pane show active" [hidden]="currentSegment != segement.LIST">
        <app-table-list *ngIf="segmentVisited.LIST" [tableConfig]="tableConfig" [parenttblAction]="tblAction"
            [parentGetList]="getListData">
        </app-table-list>
    </div>

    <!-- <div class="tab-pane show active" [hidden]="currentSegment != segement.MODIFYREQUEST">
        <app-modify-list *ngIf="segmentVisited.MODIFYREQUEST" [whereStatus]="[2]" [module]="modifyModule">
        </app-modify-list>
    </div> -->

    <!-- <div class="tab-pane show active" [hidden]="currentSegment != segement?.OUTBOX">
        <app-table-list *ngIf="segmentVisited.OUTBOX" [tableConfig]="inActiveTblConfig" [parenttblAction]="tblAction"
            [parentGetList]="getListDeletedData">
        </app-table-list>
    </div> -->
</div>