<div [formGroup]="dataForm">
    <div class="row clearfix">
        <div class="col-md-12 col-sm-12 text-right hidden-xs ">
            <div  class="btn-group-sm mb-2" role="group" [class.show]="showLangDd">
                <select class="custom-select" formControlName="lang">
                    <ng-container *ngFor="let m of Lang">
                        <option [value]="m?.id">
                            {{m?.name}}
                        </option>
                    </ng-container>
                </select>
            </div>
        </div>
    </div>
    <ckeditor #editor_box (change)="onChangeDescription()" formControlName="description" [editor]="Editor" [config]="editorConfig" name="description"
         (ready)="onReady($event)">
    </ckeditor>
</div>

<ng-container *ngIf="showPreview">
    <textarea [value]="description" style="width: 100%; height: 40px"></textarea>
    <h3>Form data preview</h3>
    <pre>{{ formDataPreview }}</pre>
</ng-container>
