<div class="modal-header" *ngIf="isModal">
    <h6 class="mb-0 modal-title">{{pageInfo?.title | titlecase}}</h6>
    <button type="button" class="close" (click)="close()"><span>X</span></button>
</div>
<div class="block-header" *ngIf="!isModal">
    <div class="row clearfix">
        <div class="col-md-6 col-sm-12">
            <h1>{{pageInfo?.title}}</h1>
        </div>
        <div class="col-md-6 col-sm-12 text-right hidden-xs bd-col">
            <div class="btn-group blocks">
                <ng-container *ngIf="pageInfo?.buttonShowBtn;">
                    <ng-container
                        *ngFor="let a of (isArray(pageInfo?.button) ?pageInfo?.button || [] : [pageInfo?.button || {} ] )">
                        <button (click)="btnClick(a)" class="btn btn-sm {{a?.class || 'btn-primary'}}"
                            title="{{a?.title}}"><i [class.icon-list]="!a?.icon" class="{{a?.icon}}"></i>
                            {{a?.title}}</button>
                    </ng-container>
                </ng-container>
            </div>
            <ng-template #btnBack>
                <a href="javascript:void(0)" (click)="close()" class="btn btn-sm btn-primary" title="Back"><i
                        class="pi pi-arrow-left"></i> Back</a>
            </ng-template>
            <span class="text-muted text-right lead" *ngIf="pageInfo?.info_text"
                style="padding-left: 73vw;">{{pageInfo?.info_text}}</span>
        </div>
    </div>
</div>