<nav class="navbar top-navbar">
    <div class="container-fluid">

        <div class="navbar-left">

            <div class="samples" *ngIf="isDev">
                    <div class="ribbon slant-up" style="--color: #090909;">
                        <div class="align-items-center content d-flex justify-content-center">DEBUG</div>
                </div>
            </div>
            <div class="navbar-brand logodiv">
                <a href="javascript:void(0)"><img [src]="logo" [alt]="title" class="img-fluid logo">
                    <!-- <span>GEMS</span> -->
                </a>
            </div>

            <ul class="nav navbar-nav">
                <li class="dropdown" *ngFor="let m of menu">
                    <a *ngIf="m?.children" class="has-arrow dropdown-toggle icon-menu" href="javascript:void(0)"
                        style="padding: 8px;">
                        <!-- <i [attr.class]="m.icon"></i> -->
                        <span style="font-size:0.95rem;">{{m?.title}}</span>
                    </a>

                    <a *ngIf="!m?.children" [routerLink]="['/'+m?.link]" class="dropdown-toggle icon-menu"
                        [attr.tittle]="m?.title" [queryParams]="m?.queryParams">
                        <!-- <i [attr.class]="m.icon"></i> -->
                        <span>{{m?.title}}</span>
                    </a>

                    <div class="dropdown-menu" *ngIf="m?.children">
                        <ng-container *ngFor="let item of m?.children">
                            <a class="dropdown-item pt-2 pb-2" [routerLink]="item?.link" [attr.tittle]="item?.title"
                                [queryParams]="item?.queryParams">{{item?.title}}</a>
                        </ng-container>
                    </div>
                    <!-- <ul *ngIf="m?.children" class="dropdown-menu">
                            <li *ngFor="let item of m?.children">
                                <a [routerLink]="item?.link" [attr.tittle]="item?.title"
                                    [queryParams]="item?.queryParams">{{item?.title}}</a>
                            </li>
                        </ul> -->
                </li>
            </ul>
        </div>

        <div class="navbar-right">
            <div id="navbar-menu">
                <ul class="nav navbar-nav">
                    <!-- <li><a href="javascript:void(0);" class="search_toggle icon-menu" title="Search Result"><i
                                class="icon-magnifier"></i></a></li>
                    <li><a href="javascript:void(0);" class="right_toggle icon-menu" title="Right Menu"><i
                                class="icon-bubbles"></i><span class="notification-dot bg-pink">2</span></a></li> -->
                    <!-- <li><a href="page-login.html" class="icon-menu"><i class="icon-power"></i></a></li> -->
                    <li>
                        <div class="user-account">
                            <div class="user_div">
                                <img [src]="user?.imageUrl" imageLoad class="user-photo" [alt]="user?.fname">
                            </div>
                            <div class="dropdown">
                                <span>{{roleName | titlecase}}</span>
                                <a href="javascript:void(0);" class="dropdown-toggle user-name"><strong>{{user?.fname}}
                                        {{user?.lname}}
                                    </strong></a>
                                <ul class="dropdown-menu dropdown-menu-right account vivify flipInY">
                                    <li><a [routerLink]="[urlService.STAFF.VIEW.URL]"
                                            [queryParams]="{id: 'my_profile'}"><i class="icon-user"></i>My
                                            Profile</a></li>
                                    <li><a [routerLink]="[urlService.EMAIL.LIST.URL]"><i
                                                class="icon-envelope-open"></i>Email</a>
                                    </li>
                                    <li><a href="javascript:void(0);" (click)="openChangePassword()"><i
                                                class="icon-key"></i>Password</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:void(0)" (click)="logout()"><i
                                                class="icon-power"></i>Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</nav>