<app-page-breadcrumb [pageInfo]="pageInfo" [isModal]="false"></app-page-breadcrumb>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12" [hidden]="dataLoading">
        <div class="card">
            <ul class="nav nav-tabs1 table-nav">
                <ng-container *ngFor="let s of segement | keyvalue:returnZero">
                    <li class="nav-item">
                        <a class="nav-link"
                            [ngClass]="{'show active': currentSegment==s.value, 'error-segment' : segementError[s.key] == true}"
                            (click)="changeSegment(s.value)" href="javascript:void(0)">{{s.value}}</a>
                    </li>
                </ng-container>
            </ul>
            <div class="body">
                <div [hidden]="(childId && currentSegment!=segement.BASIC) || currentSegment!=segement.BASIC">
                    <app-child-search-container [profileType]="type" [showResult]="true"
                        (onComplete)="mapParent($event)" type="CHILD"></app-child-search-container>
                </div>

                <div class="tab-content mt-0">
                    <div class="tab-pane show active" [hidden]="currentSegment != segement.BASIC">
                        <ng-container *ngIf="basicFormData.length">
                            <app-form-generator #basicForm [dynamicValidator]="childDynamicFormData"
                                [formData]="basicFormData"></app-form-generator>
                        </ng-container>
                    </div> <!-- tab pane-->
                    <div class="tab-pane show active" [hidden]="currentSegment != segement.PARENT">
                        <app-parents #parentsDiv [config]="{type : type}"></app-parents>
                    </div> <!-- tab pane-->
                    <div class="tab-pane show active" [hidden]="currentSegment != segement.ADDRESS">
                        <app-address #address [isPage]="true" title="Address Details" [submitted]="submitted">
                        </app-address>
                    </div>
                    <div class="tab-pane show active" [hidden]="currentSegment != segement.EDUCATION">
                        <app-staff-education #childEdu [config]="{title : 'Academic Details',
                            type : 'CHILD'}"></app-staff-education>
                    </div>
                    <div class="tab-pane show active" [hidden]="currentSegment != segement.PHYSICAL">
                        <app-child-physical #childPhysical [config]="{title : 'Physical Condition'}">
                        </app-child-physical>
                    </div>
                    <div class="tab-pane show active" [hidden]="currentSegment != segement.SIBILING">
                        <app-child-sbiling #childSibiling [childId]="childId" [config]="{title : 'Sibling Details'}">
                        </app-child-sbiling>
                    </div>

                    <div class="tab-pane show active" [hidden]="currentSegment != segement.OTHERS">
                        <div class="card">
                            <div class="body">
                                <app-form-generator #othersForm [formData]="otherFormData"></app-form-generator>
                            </div>
                        </div>
                    </div>


                </div> <!-- end of tab-->

                <div class="row clearfix align-center" [hidden]="dataLoading">
                    <div class="col-12" *ngIf="isModifyRequestPending">
                        <div class="alert alert-primary" role="alert">
                            Modification Request is Pending you can'nt Raise New Request!.
                        </div>
                    </div>
                    <div class="col-md-12 mb-2 text-center">
                        <span class="error" *ngIf="segementError.GAURDIAN || segementError.BASIC"> Some field not be
                            valid</span>
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="btn-group btn-group-lg">
                            <button [disabled]="loading" *ngIf="pSegment" (click)="changeSegment(pSegment)"
                                type="button" class="btn btn-primary mr-1">Prev</button>
                            <button noDoubleClick *ngIf="!isModifyRequestPending && currentSegment == segement.OTHERS"
                                [disabled]="disabled_save || loading" type="button" (click)="onSubmit()"
                                class="btn btn-primary mr-1">
                                <i *ngIf="loading" class="pi pi-spin pi-spinner"></i>
                                {{ loading ? 'Saving...' : 'Submit'}}
                            </button>
                            <button [disabled]="loading || validSegemnet" *ngIf="nSegment"
                                (click)="changeSegment(nSegment)" type="button" class="btn btn-primary">Save &
                                Next</button>
                        </div>
                    </div>
                </div>

                <app-page-loader [loading]="dataLoading"></app-page-loader>

            </div> <!-- end body-->

        </div> <!-- end of card-->
    </div>

</div> <!-- End Of tab row-->