<app-page-breadcrumb [pageInfo]="pageInfo"></app-page-breadcrumb>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="body">
                <div class="form-check-inline mb-4 p-1" [formGroup]="radioForm">
                    <div class="form-check ml-5" *ngFor="let a of radioGroup">
                        <input class="form-check-input" id="radio" formControlName="radiobtn" (change)="radioChange()"
                            [value]="a.name" type="radio">
                        <label class="form-check-label" for="radio">{{a.title}}</label>
                    </div>
                </div>
                <app-form-generator #basicForm [formData]="basicFormData" (onChangeEvent)="onChange($event)" ></app-form-generator>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center">
        <div class="btn-group btn-group-lg">
            <ng-container *ngIf="!accountId ;else showApprove">
                <button noDoubleClick [disabled]="loading" type="button" (click)="onSubmit()"
                    class="btn btn-primary mr-1">
                    <i *ngIf="loading" class="pi pi-spin pi-spinner"></i>
                    {{ loading ? 'Saving...' : 'Submit'}}
                </button>
                <button [disabled]="loading" (click)="close()" type="button" class="btn btn-danger mr-1">Cancel</button>
            </ng-container>
            <ng-template #showApprove>
                <button noDoubleClick [disabled]="loading" type="button" (click)="onApprove()"
                    class="btn btn-success mr-1">
                    <i *ngIf="loading" class="pi pi-spin pi-spinner"></i>
                    {{ loading ? 'Approving...' : 'Approve'}}
                </button>
                <button [disabled]="loading" (click)="onReject()" type="button" class="btn btn-danger mr-1"> <i
                        *ngIf="loading" class="pi pi-spin pi-spinner"></i>
                    {{ loading ? 'Rejecting...' : 'Reject'}}</button>
            </ng-template>
        </div>
    </div>
</div>