.support_span{
    // position: absolute;
    bottom: 10px;
    i{position: absolute;
        bottom: 5px;
        right: -15%;
        font-size: large;
        cursor: pointer;}
}
.amount_info{
    div{
        font-size: medium;
    font-weight: 600;
    }
}