<div>
    <div class="row clearfix body m-0 p-10 border-0">
        <div class="col-md-12 col-lg-12">
            <span class="sub_title">{{data?.title}}</span>
        </div>
    </div>
    <!-- form start -->
    <div class="card">
        <div class="body border-0">
            <ng-container>
                <dynamic-table-form *ngIf="formColData.length" #dyTbl [dynamicValidator]="dynamicController" [formData]="formColData" [mode]="mode"></dynamic-table-form>
            </ng-container>
            <!-- end form -->
        </div>
        <!--body -->
    </div> <!-- card-->

</div>

<!-- <ng-template #viewSibiling>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Sibiling Details</h4>
        <button type="button" (click)="closeModal()" class="btn-close close pull-right" aria-label="Close">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row pt-5 about-list">
            <div class="col-md-6">
                <div class="media"> <label>Name</label>
                    <p>{{viewData?.name}}</p>
                </div>
                <div class="media"> <label>Date of Birth</label>
                    <p>{{viewData?.dob | date}}</p>
                </div>
                <div class="media"> <label>Gender</label>
                    <p>
                        {{ (gender | filter : 'id' :viewData?.gender)?.name }}
                    </p>
                </div>
                <div class="media"> <label>Mobile</label>
                    <p>{{viewData?.mobile_no}}</p>
                </div>
                <div class="media"> <label>Last Update</label>
                    <p>{{ viewData?.updated_at | date}}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media"> <label>E-mail</label>
                    <p>{{viewData?.email_id}}</p>
                </div>
                <div class="media"> <label>whatsApp No</label>
                    <p>{{viewData?.whatsApp_no}}</p>
                </div>
                <div class="media"> <label>
                        <Address></Address>
                    </label>
                    <p>{{viewData?.address}}</p>
                </div>
                <div class="media"> <label>Stayed In</label>
                    <p>{{viewData?.stayed_in}}</p>
                </div>
                <div class="media"> <label>Status</label>
                    <p>{{ (EDU_STATUS | filter : 'id' :viewData?.status)?.name }}</p>
                </div>
                <div class="media"> <label>Remarks</label>
                    <p>{{ viewData?.remarks }}</p>
                </div>

            </div>
        </div>

    </div>
</ng-template> -->