<!-- <div id="clock" class="light">
    <div class="display">
        <div class="weekdays"></div>
        <div class="ampm"></div>
        <div class="alarm"></div>
        <div class="digits"></div>
    </div>
</div> -->
<div>
    <div class="clock">
        <div class="bg">
            <h2 id="h">{{hours}}</h2>
        </div>
        <h2>:</h2>
        <div class="bg">
            <h2 id="m">{{minutes}}</h2>
        </div>
        <h2>:</h2>
        <div class="bg">
            <h2 id="s">{{seconds}}</h2>
        </div>
        <div class="bg">
            <h2 id="ap">{{ampm}}</h2>
        </div>
    </div>
    <div>
        <h2>{{days}}</h2>
    </div>
</div>